ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
}

.icon-title {
    padding: 15px;
}

.icon {
    height: 50px;
    margin-left: 100px;
}

li{
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}
ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style-type: none;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
  color: white;
}

mat-toolbar img {
  max-width: 48px;
}