<header>
    <nav class='titlebar'>
        <mat-toolbar color="primary">
            <img class="icon" src="assets/popcorn.png">
            <h1 class="icon-title">Movie Melee</h1>
            <input routerLink="/search" placeholder='Search for movies'>
            <button mat-raised-button color="primary">Search</button>
            

            <ul>
                <li><a href="#">Movie Universe</a></li>
                <li><a href="#">Favorites</a></li>
                <!-- <li class='login'><a href="#">Login</a></li>  → → ↓ -->
                <!-- <li class='signUp'><a href="#">Create an account</a></li>→→→ this code is commented out because of time restraints -->
                <!-- <li class='i18n'><a href="#">Language</a></li>→ → ↑            -->
            </ul>
        </mat-toolbar>
    </nav>
</header>