<div class="searchFilters">
    <ul>
        <li>
            <label for="filterGenre">Genre</label>
            <select name="filterGenre" [(ngModel)]='filterGenre'>
                <option [ngValue]="null">Choose a Genre</option>
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>

        </li>

        <li>
            <label for="filterSubgenre">Subgenre</label>
            <select name="filterSubgenre" [(ngModel)]='filterSubgenre'>
                <option [ngValue]="null">Choose a Subgenre</option>
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>
        </li>


        <!-- Have one for movie rating g,pg,pg-13,r,nc-17 -->


        <li>
            <label for='filterKeyword2'>Keyword</label>
            <input name='filterKeyword2' type="text" (keyup)='onKey($event)'>
            <div class="searchBox" *ngFor='let result of results | async'>{{result.name}}</div>
        </li>

        <!-- Do it to where you can hit enter and it adds a keyword that you can remove with a little
        x button on it or something. then you can add more keywords -->

    </ul>
</div>