*{
    margin:0px;
    padding:0px;
}

.searchFilters{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50%;

}


li{
    list-style-type: none;
}

.margin{
    margin: 10px;
}

.example-chip-list{
    width: 100%;
}

.selectSize{
    height: 25px;
    width: 100%;
}

label{
    color: white;
}

.whiteText{
    color: white;
}