<div class="searchFilters">
    <ul>
        <li>
            <label for="filterGenre">Genre</label>
            <select name="filterGenre">
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>

        </li>

        <li>
            <label for="filterSubgenre">Subgenre</label>
            <select name="filterSubgenre">
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>
        </li>

        <li>
            <label for='filterCountry'>Country</label>
            <select name='filterCountry'>
                <option *ngFor='let country of countries' value="{{country}}">{{country.name}}</option>
            </select>
        </li>

        <li>
            <label for='filterYear'>Year</label>
            <select name="filterYear">
                <option *ngFor='let year of years' value="{{year}}">{{year}}</option>
            </select>
        </li>

    </ul>
</div>