*{
    margin:0px;
    padding:0px;
}



.searchFilters{
    margin-bottom: 40px;
    height:.01px;

} 

ul{
    height: 100px;
    display: flex;
}

li{
    display: flex; 
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
    height: 1px;
    background-color: transparent;
    color:transparent;
    list-style-type: none;
    /* padding: 5px; */
    

}

.margin{
    margin-left: 110px;
    


}

.example-chip-list{
    width: 100%;
}

.selectSize{
    height: 25px;
    width: 100%;
}

label{
    color: white;
}

.whiteText{
    color: white;
}

