<div class="searchFilters">
    <ul>
        <li>
            <label for="filterGenre">Genre</label>
            <select name="filterGenre" [(ngModel)]='filterGenre'>
                <option [ngValue]="null">Choose a Genre</option>
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>

        </li>

        <li>
            <label for="filterSubgenre">Subgenre</label>
            <select name="filterSubgenre" [(ngModel)]='filterSubgenre'>
                <option [ngValue]="null">Choose a Subgenre</option>
                <option *ngFor='let genre of genres' value='{{genre}}'>{{genre.name}}</option>
            </select>
        </li>

        <li>
            <label for="filterRating">Rating</label>
            <select name="filterRating" [(ngModel)]='filterRating'>
                <option [ngValue]='null'>Choose a Rating</option>
                <option *ngFor='let rating of ratings' value='{{rating}}'>{{rating.certification}}</option>
            </select>
        </li>

        <!-- <li>
            <form class="searchBox">
                <input type="text" placeholder="Search Keywords" [formControl]="control" [matAutocomplete]="auto"
                    (keyup)='onKey($event)'>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let result of results | async" [value]="result">
                        {{result.name}}
                    </mat-option>
                </mat-autocomplete>
            </form>
        </li> -->

        <mat-form-field class="example-chip-list">
            <mat-label>Added Keywords</mat-label>
            <mat-chip-list #chipList aria-label="Keyword selection">
                <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(keyword)">
                    {{keyword}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Search Keywords" #keywordInput [formControl]="keywordControl"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (keyup)='onKey($event)'
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
                    {{keyword.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- Do it to where you can hit enter and it adds a keyword that you can remove with a little
        x button on it or something. then you can add more keywords. Need to make options clickable.  -->
    </ul>
</div>