<app-search-filters (searchResults)='setResults($event)' [page]='page'></app-search-filters>

<div class="box">
<mat-card>
    <ul class="searchPage">
        <li *ngFor=' let result of results | paginate:{itemsPerPage: 20, currentPage: page, totalItems: totalPages }'
            routerLink='/details/{{result.id}}'>
            <img src="https://image.tmdb.org/t/p/w154{{result.backdrop_path}}">

            <h3>{{result.title}}</h3> <span>{{result.release_date}}</span> 
            <p>{{result.overview}}</p>
        </li>
    </ul>
    <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</mat-card>
</div>