

<div class="profile-box">
    <img class="profile-pic" src="assets/test_profile_pic1.jpg">
    <h3>Person's Name</h3>
    <p class="profile-info">
        Favorite Genre: Horror<br><br>
        Favorite Move : Friday the 13th<br><br>
        Favorite Actor/Actress: Tracey Lords<br><br>
        Email address: Me@mine.com
    </p>

    <div class="recent-views"><span>Recent view/s</span>
    </div>
    <button class="back">Back</button>
    <img class="profile-file-background" src="assets/jacktheripper.jpg">
</div>


<div class="content-outer-container">
  <div class="content-inner-container">
    <h1 class="app-title centered"></h1>
  </div>
</div>
<div class="footer-container">
  <p class="footer-content"><span class="myName">Steven </span> <span class="mitchsName"> Mitch </span> <span
      class="dansName"> Dan</span>...The crime fighting coding trio &copy; 2021</p>
</div>
