    <div class="box">
      <carousel class="pics" [images]="images" [arrowsOutside]="arrowsOutside">
      </carousel>
      <carousel class="pics" [images]="scienceFictionMovies" [arrowsOutside]="arrowsOutside">
      <!-- </carousel>
      <carousel class="pics" [images]="horror" [arrowsOutside]="arrowsOutside">
      </carousel> -->
      
      
    


<div class="content-outer-container">
  <div class="content-inner-container">
    <h1 class="app-title centered"></h1>
  </div>
</div>
<div class="footer-container">
  <p class="footer-content">
    <span class="myName">Steven</span> <span class="mitchsName"> Mitch </span>
    <span class="dansName">Dan</span>...The crime fighting coding trio &copy;
    2021
  </p>
</div> 