<header>
    <nav class='titlebar'>
        <mat-toolbar>
            <span>Logo</span>
        <ul>
            <li class='movieUniverse'><a href="#">Movie Universe</a></li>
            <li class='top 10'><a href="#">Top 10</a></li>
            <li class='login'><a href="#">Login</a></li>
            <li class='signUp'><a href="#">Create an account</a></li>
        </ul>
        </mat-toolbar>
    </nav>    
</header>

<main class=splashScreen>

    <div class= 'box'>

        <input placeholder='Search for movies'>
        
        <button mat-raised-button color="primary">Search</button>

    </div>

    
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

</main>