<a class="menu-back" href="#"> < Back To Movie Selection</a>
<app-search-bar></app-search-bar> 
<div id="info-box">
    <img class="movieImage" 
    [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path"
        [alt]="movie.title"
    />
    <div class="movieInfo">
    <h2>{{ movie.title }}<span>Released: {{ movie.release_date }}, {{ movie.runtime }} minutes</span></h2>
    <button>+Add To Favorites</button>
    <h3>Summary:</h3>

    <p id="overview">
        {{ movie.overview }}
    </p>
    </div>
</div> 
