<a class="menu-back" href="#"> < Back To Movie Selection</a> 
<div id="info-box">
    <img class="movieImage" src="./assets/AvatarExample.jpg/">
    <div class="movieInfo">
    <h2>Movie Title!<span>(Year)Rated: Rating</span></h2>
    <button>+Add To Favorites</button>
    <h3>Summary:</h3>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Voluptatibus provident dolorum 
        facilis cupiditate libero illo sit eos possimus 
        accusamus laboriosam laudantium iusto quae, ullam 
        at alias quibusdam nobis minus a.
    </p>
    </div>
</div>
<div class="cast-crew">
    <h2>The Cast</h2>
    <ul>
        <li><a href="#">Cast</a></li>
    </ul>
</div>
<div id="more-recommendations">
    <h3>Check out other movies based on your selection!</h3>
</div>  
